{% load i18n %}{% autoescape off %}

{% blocktranslate %}Este es el email que has pedido para reiniciar la contraseña de tu usuario en {{ site_name }}.{% endblocktranslate %}

{% translate "Ve a la siguiente página y reinicia tu contraseña:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'store:password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% translate 'Tu usuario, en caso de que lo hayas olvidado:' %} {{ user.get_username }}

{% translate "Gracias por usar nuestros servicios!" %}

{% blocktranslate %} El equipo de {{ site_name }} {% endblocktranslate %}

{% endautoescape %}
