{% load static %}

<!-- navbar-->
      <header class="header bg-white">
        <div class="container px-0 px-lg-3">
          <nav class="navbar navbar-expand-lg navbar-light py-3 px-lg-0">
            <a class="navbar-brand" href="{% url 'store:home' %}"><span class="font-weight-bold text-uppercase text-dark"><img src="{% static 'img/Fun_Hub.png' %}"  height="30" class="d-inline-block align-top" alt="">
               Fun Hub</span></a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <!-- Link--><a class="nav-link" href="{% url 'store:home' %}">Inicio</a>
                </li>
                
                <li class="nav-item">
                  <!-- Link--><a class="nav-link" href="{% url 'store:search' %}"><svg width="18" height="18" class="theme-line-0"><use xlink:href="#find-1"></use></svg>Buscar</a>
                </li>

                <li class="nav-item">
                  <!-- Link--><a class="nav-link" href="{% url 'store:recomendaciones' %}">Recomendaciones</a>
                </li>
              </ul>
              <ul class="navbar-nav ml-auto"> 
                {% if request.user.is_authenticated %}           
                  <li class="nav-item"><a class="nav-link" href="{% url 'store:cart' %}"> <i class="fas fa-dolly-flatbed mr-1 text-gray"></i>Carrito<small class="text-gray">({{cart_items.count}})</small></a></li>
                  {% comment %} <li class="nav-item"><a class="nav-link" href="#"> <i class="fas fa-user-alt mr-1 text-gray"></i>Mi cuenta</a></li> {% endcomment %}

                  <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" id="pagesDropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user-alt mr-1 text-gray"></i>Mi cuenta</a></a>
                  
                  <div class="dropdown-menu mt-3" aria-labelledby="pagesDropdown">
                    
                      <a class="dropdown-item border-0 transition-link" href="{% url 'store:profile' %}">Perfil</a>
                      <a class="dropdown-item border-0 transition-link" href="{% url 'store:favorites' %}">Favoritos</a>
                      <a class="dropdown-item border-0 transition-link" href="{% url 'store:cart' %}">Carrito</a>
                      <a class="dropdown-item border-0 transition-link" href="{% url 'store:orders' %}">Pedidos</a>
                      <a class="dropdown-item border-0 transition-link" href="{% url 'store:password-change' %}">Cambiar contraseña</a>

                    <hr>
                    <a class="dropdown-item border-0 transition-link" href="{% url 'store:logout' %}">Cerrar sesión</a>
                    
                </li>
                {% else %}
                  <li class="nav-item"><a class="nav-link" href="{% url 'store:login' %}">Iniciar sesión</a></li>
                  <li class="nav-item"><a class="nav-link" href="{% url 'store:register' %}">Crear cuenta</a></li>
                {% endif %}   
              </ul>
            </div>
          </nav>
        </div>
      </header>

